<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="">
                <h1 class="mb-3">What's Litbull?</h1>
                <img class="logo-home" src="/assets/1.png">
                <div class="box">
                    <p class="whats-ask">
                        <span class="negritas">Litbull is a Web created with Angular for to see information about dogs.</span>
                        <br>
                        <br>
                        so, you put the Correct and Exactly name of the Dogs, In English Version, and you will have:
                        <br>
                        This Dogs of a List of Dogs, Example:
                    </p>
                    <p>
                        If you are Looking the: <span class="negritas">golden retriever</span>, I recommend you to Write:
                        <br>
                        <br>
                        - Exactly the Name: <span class="negritas">golden retriever</span>
                        <br>
                        - or One part of the Name, like: <span class="negritas">retriever</span>
                        <br>
                        <br>
                        in both case, you will have a list of dogs or the dog that you are looking for.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
